*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eaf6f6;
	/* padding: 0 0.5%; */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
}

.pt-3 {
	padding-top: 4rem;
}

h4 {
	color: grey;
	font-family: "Open Sans", sans-serif;
}

.myclass {
	display: inline-block;
	font-size: 1rem;
	width: auto;
}

.myclass span {
	font-size: 0.9rem;
}

.myclass p {
	margin-left: 5px;
}

.myclass p {
	font-size: 28px;
}

@media (max-width: 500px) {
	h3 {
		font-size: 0.6rem;
	}
}

.myrowclass {
	text-align: center;
	font-size: 2rem;
}

.myrowclass:hover {
	background-color: #29b6f6 !important;
	transition: ease-in-out 0.45s;
}
